/* //////////////////// */
/* Cindy's CSS Space */
/* //////////////////// */

body {
	font-family: "Raleway", sans-serif;
	background-image: url("../img/dessertbg.jpg");
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Pacifico", cursive;
}

input[type="text"] {
	height: 50px;
	padding: 20px;
	font-size: 18pt;
	text-align: center;
}

input[type="checkbox"] {
	size: 50px;
}

.jumbotron {
	padding: 5% 5% 5% 5%;
	margin-bottom: 2rem;
	margin-top: 5%;
}

.trans-bg {
	background-color: pink;
	opacity: 0.9;
	border-radius: 10px;
	box-shadow: 0 0 5px #000;
}

button {
	font-size: 18pt;
	font-family: "Raleway", sans-serif;
	border: 1px solid gray;
}

.extra-padding {
	padding: 50px;
}

.top-margin20 {
	margin-top: 20px;
}

.top-margin20 {
	margin-top: 20px;
}

.center {
	text-align: center;
}

#search-term {
	width: 80%;
}

.column,
.columns {
	padding: 20px;
}

#recipe-info {
	overflow: auto;
	height: 500px;
}

#recipe-box {
	margin-bottom: 20px;
}

#recipe-box,
#recipe-info,
#stored,
#joke {
	display: none;
}

/* scollbar styling */

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
/* checkbox styling */

/* Customize the label (the container) */
.check {
	/* float: left; */
	display: inline-block;
	position: relative;
	padding-left: 35px;
	width: auto;
	margin-bottom: 12px;
	margin-left: 10px;
	cursor: pointer;
	font-size: 16pt;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.check input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}

/* On mouse-over, add a grey background color */
.check:hover input ~ .checkmark {
	background-color: #cccccc;
}

/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
	background-color: #a621f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.check .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

@media only screen and (max-width: 425px) {
	input[type="text"] {
		font-size: 12pt;
	}
	input[type="text"] {
		font-size: 10pt;
		margin-bottom: 3px;
	}

	.check {
		font-size: 11pt;
		margin-left: 3px;
		padding-left: 25px;
	}

	.checkmark {
		height: 20px;
		width: 20px;
	}

	.extra-padding {
		padding: 0;
	}

	/* .jumbotron {
        padding-bottom: 5%;
    } */
}

@media only screen and (max-width: 890px) {
	img {
		width: 200px;
	}

	.prevSearch {
    font-size: 12pt; 
    
	a {
		font-size: 8pt;
	}
}

/* //////////////////// */
/* Bri's CSS Space  */
/* //////////////////// */

.urlButton {
	font-size: 12pt;
}

#joke {
	margin-top: 20px;
	font-size: 16pt;
}

.searchCenter {
	display: block;
	margin: auto;
}
a {
	font-size: 12pt;
	color: black;
	text-decoration: none;
}

/* //////////////////// */
/* Hayley's Extra CSS Space  */
/* //////////////////// */

#clearButton {
	position: absolute;
	top: 10px;
	right: 5px;
	border: none;
}

/* //////////////////// */
/* Jody's CSS Space  */
/* //////////////////// */

ul {
	background-color: white;
	list-style: none;
}
/* Autocomplete
----------------------------------*/
.ui-autocomplete {
	position: absolute;
	cursor: default;
}
.ui-autocomplete-loading {
	background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
}

/* workarounds */
* html .ui-autocomplete {
	width: 1px;
} /* without this, the menu expands to 100% in IE6 */

/* Menu
----------------------------------*/
.ui-menu {
	list-style: none;
	padding: 10px;
	margin: 0;
	display: block;
	width: 227px;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin: 0;
	padding: 0;
	width: 200px;
}
.ui-menu .ui-menu-item a {
	text-decoration: none;
	display: block;
	padding: 0.2em 0.4em;
	line-height: 1.5;
	zoom: 1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	margin: -1px;
}

@media only screen and (max-width: 890px) {
    img {
        width: 200px;
    }
    .prevSearch {
      font-size:12pt;
    }
}
@media only screen and (max-width: 890px) {
    a {
        font-size:8pt;
    }
}

/* //////////////////// */
/* Hayley's Extra CSS Space  */
/* //////////////////// */

#clearButton{
    position: absolute;
    top: 10px;
    right: 2px;
    border: none;
}

